body {
    background-color: pink;
    font-family: Consolas, Monaco, "Andale Mono", monospace;
    position: relative;
}


#app {
    margin: 100px auto;
    width: 500px;
    text-align: center;

}


#myButton {
    font-family: Consolas, Monaco, "Andale Mono", monospace;
    background-color: palevioletred;
    color: #ECEFF1;
    margin: 0 auto;
    padding: 1em 2em;
    border: #ECEFF1 1px solid;
    border-radius: 70px;
    vertical-align: middle;
    -moz-osx-font-smoothing: grayscale;
}